<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="vehicle_parking_system.Properties.Settings.parkingmanagementConnectionString"
            connectionString="Data Source=DESKTOP-CTQRUP1\SQLEXPRESS01;Initial Catalog=parkingmanagement;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>